body {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}
.bar {
    background-color: green;
    color: white;
    display: inline-block;
    /* be smarter about this */
    min-width: 1.5em;
}
.date-start {
    width: 150px;
    text-align: right;
    margin-right: 5px;
}
.date-finish {
    width: 150px;
    text-align: left;
    margin-left: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    padding: .25em;
}
